li ol li, li ul li {
    font-size: 80%;
    margin-bottom: 0px;
    margin-left: 20px;
    line-height: 1.3em;
}

li {
	line-height: 1.5em;
}

tt {
	font-family: monospace;
}

.highlight {
  display: inline-block;
  border-style: solid;
  padding: 0 8px 0 4px;
  border-width: 2px;
  border-color: red;
}